<section class="form">

    <div class="form-header">
        <p class="sw">New Specialization for <%= @character.name %></p>
    </div>

    <%= form_for [@character, @character_specialization] do |f| %>

        <%= f.hidden_field :character_id, value: @character.id %>

        <div class="form-field">
            <%= f.collection_select(:specialization_id, @specializations, :id, :name, {prompt: ""}, {class: "form-input select", autofocus: true}) %>
            <p class="form-label">Specialization</p>
        </div>

        <%= f.submit "Submit", class: "button form-button success" %>
    <% end %>

    <div class="links">
        <p><%= link_to "< View Character", character_path(@character) %></p>
        <p><%= link_to "Add Talent >", new_character_character_specialization_path(@character) %></p>
    </div>

</section>