<section>

    <div class="section-header">
        <p class="sw"><%= @character.name %></p>
    </div>
    <div class=" profile">

        <div class="profile-image">

            <%= image_tag("characters/#{@character.name.split(' ').join('_').downcase}.jpg", class: "profile-image") %>

        </div>

        <div class="profile-details">

            <p class="sw profile-name"><%= link_to(@character.name, character_path(@character)) %></p>

            <p class="profile-race"><%= @character.species %></p>

            <p class="profile-career"><%= @character.career.name %></p>

            <p class="specialization-title"><%= @character_specialization.specialization.name %></p>

        </div>

        <div class="delete_spec">
            <%= link_to("Edit This Specialization", edit_character_character_specialization_path(@character, @character_specialization)) %>
        </div>

    </div>

</section>

<section>
    <h3 class="tree-title"><%= @character_specialization.specialization.name %> Talent Tree</h3>
    <div class="specialization">

        <% @character_specialization.specialization.specialization_talents.each do |spec_talent| %>

            <% character_spec_talent = CharacterSpecTalent.where(character: @character, specialization_talent: spec_talent).first %>

            <div class="spec-talent-connected purchased-<%= character_spec_talent.purchased %>">

                <div class="connect-left-<%= spec_talent.leftLink %>">
                </div>

                <div class="specialization-talent">

                    <div class='connect-up-<%= spec_talent.upLink %>'>
                    </div>
                    <%= link_to edit_character_character_spec_talent_path(@character, character_spec_talent) do %>
                        <div class="talent purchased-<%= character_spec_talent.purchased %>">
                            <p class='talent-heading active-<%= spec_talent.talent.active %>'>

                                <%= spec_talent.talent.name %>

                            </p>

                            <p class="talent-short-desc"><%= replace_dice(spec_talent.talent.shortDesc) %>
                        </div>
                    <% end %>

                    <div class="connect-down-<%= spec_talent.downLink %>">
                    </div>

                </div>

                <div class="connect-right-<%= spec_talent.rightLink %>">
                </div>

            </div>
        <% end %>

    </div>

</section>