<section class="form">

    <div class="form-header">
        <p class="sw">Edit User</p>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-input text' %>
        <p class="form-label">Email</p>
      </div>

      <div class="form-field">
        <%= f.text_field :username, class: 'form-input text' %>
        <p class="form-label">Username</p>
      </div>

      <div class="form-field">
        <%= f.text_field :credits, class: 'form-input integer' %>
        <p class="form-label">Credits</p>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-field">
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-input text' %>
        <p class="form-label">New Password</p>
      </div>

      <div class="form-field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-input text" %>
        <p class="form-label">Password Confirmation</p>
      </div>

      <div class="form-field">
        <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-input text' %>
        <p class="form-label">Current Password</p>
      </div>

      <%= f.submit "Update", class: "button form-button success" %>

    <% end %>

    <%= button_to "Delete", registration_path(resource_name), data: { confirm: "Are you sure you want to delete this user?" }, method: :delete, class: "button form-button danger" %>

    <% if @user.admin %><p class="adminland"><%= link_to admin_path do %><i class="fas fa-key"></i> Adminland<% end %></p><% end %>

  </section>