<section class="form">

    <div class="form-header">
        <p>Edit <%= @force_power.name %> Career</p>
    </div>

    <%= form_for @force_power do |f| %>

        <div class="form-field">
            <%= f.text_field :name, class: "form-input text", autofocus: true %>
            <p class="form-label">Name</p>
        </div>

        <div class="form-field">
            <%= f.text_field :cost, class: "form-input integer" %>
            <p class="form-label">Cost</p>
        </div>

        <div class="form-field">
            <%= f.text_field :force_rating, class: "form-input integer" %>
            <p class="form-label">Force Rating</p>
        </div>

        <div class="form-field">
            <div class="checkbox">
            <p class="form-label"><%= f.check_box :downLink1,  class: "boolean"%> Down Link 1</p>
            </div>
        </div>

        <div class="form-field">
            <div class="checkbox">
            <p class="form-label"><%= f.check_box :downLink2,  class: "boolean"%> Down Link 2</p>
            </div>
        </div>

        <div class="form-field">
            <div class="checkbox">
            <p class="form-label"><%= f.check_box :downLink3,  class: "boolean"%> Down Link 3</p>
            </div>
        </div>

        <div class="form-field">
            <div class="checkbox">
            <p class="form-label"><%= f.check_box :downLink4,  class: "boolean"%> Down Link 4</p>
            </div>
        </div>

        <div class="form-field">
            <%= f.collection_select(:book_id, Book.all, :id, :title, {prompt: ""}, {class: "form-input select"}) %>
            <p class="form-label">Book</p>
        </div>

        <div class="form-field">
            <%= f.text_area :description, class: "form-input long-text" %>
            <p class="form-label">Description</p>
        </div>

        <%= f.submit "Save", class: "button form-button success" %>

    <% end %>

</section>