<p class="admin-link"><%= link_to "Books", books_path %></p>
<p class="admin-link"><%= link_to "Careers", careers_path %></p>
<p class="admin-link"><%= link_to "Specializations", specializations_path %></p>
<p class="admin-link"><%= link_to "Force Powers", force_powers_path %></p>
<p class="admin-link"><%= link_to "Talents", talents_path %></p>
<p class="admin-link"><%= link_to "Skills", skills_path %></p>