<section>

    <div class="organization-header">

        <p class="sw org-name">
            Organization
        </p>

        <p class="integer org-credits">
            $ <%= number_with_delimiter(4778, delimiter: ',') %>
        </p>

    </div>

    <div class="columns">

        <div class="col1">
        
           <%= render 'profile' %>

        </div>

        <div class="col2">

        </div>

    </div>

</section>

<section>

    <p class="title"><%= @specialization.name %></p>
    
    <div class="specialization">

        <% @specialization.specialization_talents.each do |spec_talent| %>

        <div class="spec-talent-connected">

            <div class="connect-left-<%= spec_talent.leftLink %>">
            </div>

            <div class="specialization-talent">

                <div class='connect-up-<%= spec_talent.upLink %>'>
                </div>

                <div class="talent">
                    <p class='talent-heading active-<%= spec_talent.talent.active %>'>&#9633 <%= spec_talent.talent.name %></p>
                    <p class="talent-short-desc"><%= spec_talent.talent.shortDesc%>
                </div>

                <div class="connect-down-<%= spec_talent.downLink %>">
                </div>

            </div>

            <div class="connect-right-<%= spec_talent.rightLink %>">
            </div>

        </div>
        <% end %>

    </div>
</section>