<section class="form">

    <div class="form-header">
        <p>Edit <%= @book.title %></p>
    </div>

    <%= form_for @book do |f| %>

        <div class="form-field">
            <%= f.text_field :game, class: "form-input text", autofocus: true %>
            <p class="form-label">Game</p>
        </div>

        <div class="form-field">
            <%= f.text_field :title, class: "form-input text", autofocus: true %>
            <p class="form-label">Title</p>
        </div>

        <div class="form-field">
            <%= f.text_field :subtitle, class: "form-input text", autofocus: true %>
            <p class="form-label">Subtitle</p>
        </div>

        <div class="form-field">
            <%= f.text_field :type_of, class: "form-input text", autofocus: true %>
            <p class="form-label">Type</p>
        </div>

        <%= f.submit "Save", class: "button form-button success" %>

    <% end %>

</section>