<h1>Characters#show</h1>
<p><%= @character.name %></p>
<% if @character.character_career %>
    <p>(<%= link_to @character.character_career.career.name, edit_character_character_career_path(@character, @character.character_career) %>)</p>
<% else %>
    <p><%= link_to "Add a Career", new_character_character_career_path(@character) %></p>
<% end %>

<% @character.character_specializations.each do |character_specialization| %>
    <p>[<%= link_to character_specialization.specialization.name, edit_character_character_specialization_path(@character, character_specialization) %>]</p>
<% end %>

<% @character.character_skills.each do |character_skill| %>
    <p><%= link_to character_skill.skill.name, edit_character_character_skill_path(@character, character_skill) %></p>
<% end %>
<p><%= link_to "Edit Character", edit_character_path(@character) %></p>
<p><%= link_to "Add a Skill", new_character_character_skill_path(@character) %></p>
