<section>

    <div class="section-header">
        <p class="sw"><%= @character.name %></p>
    </div>

    <div class="columns">

        <div class="col1 profile">

            <div class="profile-image">

                <%= image_tag("characters/#{@character.name.split(' ').join('_').downcase}.jpg", class: "profile-image") %>

            </div>

            <div class="profile-details">

                <p class="sw profile-name"><%= link_to(@character.name, edit_character_path(@character)) %></p>

                <p class="profile-position">
                    <% if @character.name == "Pax Kal-Yuri" || @character.name == "Ajairu Kogiti" %>
                        Co-Founder
                    <% end %>
                </p>

                <p class="profile-race"><%= @character.species %></p>

                <p class="profile-career"><%= @character.career.name %></p>

                <% specs = [] %>
                <% @character.character_specializations.each do |char_spec| %>

                    <p class="profile-specializations">

                        <%= link_to(char_spec.specialization.name, character_character_specialization_path(@character, char_spec)) %>

                    </p>

                <% end %>

            </div>

        </div>

        <div class="col2">

            <ul class="character-links">

                <li><%= link_to("New Specialization", new_character_character_specialization_path(@character)) %></li>

            </ul>

        </div>

    </div>

    <div class="attributes">

        <div class='attr wound-threshold'>
            <p class='attr-label'>Wound Threshold</p>
            <p class='integer attr-ranks'><%= @character.wounds %></p>
        </div>

        <div class='attr strain-threshold'>
            <p class='attr-label'>Strain Threshold</p>
            <p class='integer attr-ranks'><%= @character.strain %></p>
        </div>

        <div class='attr force-rating'>
            <p class='attr-label'>Force Rating</p>
            <p class='integer attr-ranks'><%= @character.force_rating %></p>
        </div>

        <div class='attr soak'>
            <p class='attr-label'>Soak</p>
            <p class='integer attr-ranks'><%= @character.soak %></p>
        </div>

        <div class='attr ranged-defense'>
            <p class='attr-label'>Melee Defense</p>
            <p class='integer attr-ranks'><%= @character.def_melee %></p>
        </div>

        <div class='attr wound-threshold'>
            <p class='attr-label'>Ranged Defense</p>
            <p class='integer attr-ranks'><%= @character.def_ranged %></p>
        </div>

    </div>

    <div class="columns">

        <div class="col1">

            <div class="column-header">
                <p>Skills</p>
            </div>

            <div class='attributes'>

                <div class='attr brawn' id="brawn">
                    <p class='attr-label'>Brawn</p>
                    <p class='integer attr-ranks'><%= @character.brawn %></p>
                </div>

                <div class='attr agility' id="agility">
                    <p class='attr-label'>Agility</p>
                    <p class='integer attr-ranks'><%= @character.agility %></p>
                </div>

                <div class='attr intellect' id='intellect'>
                    <p class='attr-label'>Intellect</p>
                    <p class='integer attr-ranks'><%= @character.intellect %></p>
                </div>

                <div class='attr cunning' id='cunning'>
                    <p class='attr-label'>Cunning</p>
                    <p class='integer attr-ranks'><%= @character.cunning %></p>
                </div>

                <div class='attr willpower' id='willpower'>
                    <p class='attr-label'>Willpower</p>
                    <p class='integer attr-ranks'><%= @character.willpower %></p>
                </div>

                <div class='attr presence' id='presence'>
                    <p class='attr-label'>Presence</p>
                    <p class='integer attr-ranks'><%= @character.presence %></p>
                </div>

            </div>

            <div class="skills-list">

                <% category = '' %>
                <% @character.skills.each do |skill| %>

                    <% character_skill = @character.character_skills.find_by(skill: skill) %>
                    <% if skill.type_of != category %>

                        <% category = skill.type_of %>
                        <p class="sw segmentor"><%= category %></p>

                    <% end %>

                    <div class="skill <%= skill.attr.downcase %>">
                        <p class="skill-name">
                            <%= character_skill.career ? "&#9865".html_safe : '' %> <%= link_to skill.name, edit_character_character_skill_path(@character, character_skill)%>
                        </p>
                        <%= display_level(character_skill.ranks) %>
                    </div>

                <% end %>

            </div>

        </div>

        <div class='col2'>

            <div class="column-header">
                <p>Talents</p>
            </div>

            <% talents = @character.character_spec_talents %>

            <ul>

                <% talents.each do |talent| %>

                    <% if talent.purchased %>
                        <% t = talent.specialization_talent.talent%>
                        <li class="character-talent">
                            <h3 class="character-talent-name"><%= t.name %></h3>
                            <p class="character-talent-desc"><%= replace_dice(t.shortDesc) %></p>
                        </li>
                    <% end %>

                <% end %>

            </ul>
        </div>

    </div>

</section>
