<section class="form">

    <div class="form-header">
        <p class="sw">Login</p>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="form-field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-input text' %>
        <p class="form-label">Email</p>
      </div>

      <div class="form-field">
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-input text' %>
        <p class="form-label">Password</p>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <%= f.submit "Login", class: "button form-button success" %>

    <% end %>
</section>