<%= form_for [@character, @character_skill] do |f| %>

    <%= f.hidden_field :character_id, value: @character.id %>

    <div class="form-field">
        <%= f.collection_select(:skill_id, @skills, :id, :name, {prompt: ""}, {class: "form-input select"}) %>
        <p class="form-label">Skill</p>
    </div>

    <div class="form-field">
        <%= f.number_field :ranks, class: "form-input integer" %>
        <p class="form-label">Ranks</p>
    </div>

    <div class="form-field">
        <div class="checkbox">
        <%= f.check_box :career,  class: "boolean"%>
        <p class="form-label">Career</p>
        </div>
    </div>

    <%= f.submit "Submit", class: "button form-button success" %>
<% end %>

<p><%= link_to "< View Character", character_path(@character) %></p>
<p><%= link_to "Add Career >", character_path(@character) %></p>