<!DOCTYPE html>
<html>
  
  <%= render "html_head" %>

  <body class="<%= controller_name %> <%= action_name %>">

    <div class="datapad" id="datapad">

      <%= render 'nav' %>

      <% flash.each do |type, msg| %>
        <p class='alert alert-<%= type %>'>
          <%= msg %>
        </p>
      <% end %>
      
      <%= yield %>

    </div>
  </body>
</html>
